<!DOCTYPE html>
<html>
    <head>
        
        {{> bootstrap}}        
        <link href="/css/menu.css" type="text/css" rel="stylesheet" />
        <link href="/css/admin.css" type="text/css" rel="stylesheet" />

    </head>

    <body>

        {{> menu_admin}}

        <div class="col-md-12">
            <p class="form_text">Welcome Admin! </p>
            <div class="row">
                <div class="table-responsive col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="col-md-1">Event ID</td>
                            <td>Vendor</td>
                            <td>Vendor Contact</td>
                            <td>Event</td>
                            <td class="col-md-2">Event Description</td>
                            <td>Start Date</td>
                            <td>End Date</td>
                            <td>Tags</td>
                            <td>Address</td>
                            <td>Approval Status</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{event_id}} </td>
                            <td><a target="_blank" href="http://{{website}}">{{vendor_name}}</a></td>
                            <td><a href="mailto:{{email}}">{{contact_name}}</a></td>
                            <td><a target="_blank" href="http://{{event_link}}">{{event_name}}</a></td>
                            <td>{{description}}</td>
                            <td>{{start_date}}</td>
                            <td>{{end_date}}</td>
                            <td>{{tag_name}}</td>
                            <td>{{address}}</td>
                            <td>{{isApproved}}</td>
                            <td>
                                {{#ifCond isApproved "Pending"}}
                                    <a onclick="approve({{event_id}})" class="btn btn-info">Approve</a>
                                    <a href="/edit/{{event_id}}" class="btn btn-info">Edit</a>
                                {{else}}
                                    <a class="btn btn-info disabled">Approve</a>
                                    <a class="btn btn-info disabled">Edit</a>
                                {{/ifCond}}
                                <a class="btn btn-danger" onclick="eventDelete({{event_id}})">Delete</a>
                            </td>
                        </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </body>

</html>
   
<script src="/scripts/admin.js"></script>

