<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap CSS -->
    {{> bootstrap}}

    <link href="/css/menu.css" type="text/css" rel="stylesheet" />
    <link href="/css/Profile.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    {{> menu}}

    <div class="container">
        {{!-- <div class="dropdown" style="z-index: -1;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                Select Profile
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Profile 1</a></li>
                <li><a href="#">Profile 2</a></li>
                <li><a href="#">Profile 3</a></li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="#">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Create
                            a Profile</button>
                    </a>
                </li>
            </ul>
            <!-- Modal --> --}}
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Profile</h4>
                    </div>
                    <div class="modal-body">
                        <p>Editing profile.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-md-6">
            <div class="container">
                <div class="container col-md-6">
                    <div class="box">
                        <div class="inline-block">

                            
                            <!--                       <div class="btn-group-vertical" role="group" aria-label="..."></div>-->
                        </div>

                        <div class="card">
                            <img src="/src/img.jpg" alt="John" style="width:100%">
                            <h1>Jimmy</h1>
                            <p class="title">Age: 7</p>
                            <p>Hobbies: Swimming, Dance</p>
                            <p><button>Change Profile</button></p>

                        
                        </div>

                        <div class="container">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#">
                                            <button type="button" class="btn btn-default">Edit profile</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <button type="button" class="btn btn-default">Delete profile</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        {{!-- <form class="form-horizontal pf">
                                <img class="profile-pic" src="sample.jpg" alt="pic"
                                    style="max-width: 300px; max-height: 300px">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">Jay</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Age</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">7</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hobbies</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">Soccer, Drawing</p>
                                    </div>
                                </div>
                            </form> --}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- <div class="col-md-6">
                <div class="container" style="width: 100%; background-color: lightgray" ;>
                    <h2>Favorites</h2>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <button type="button" class="btn btn-default btn-sm" style="position:absolute; right: 5px;">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4>Children's Art Contest</h4>
                        <p>Join us at the Central Art Gallery</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <button type="button" class="btn btn-default btn-sm remove-event">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4>Summer Soccer camp</h4>
                        <p>sponsored by the Victoria Soccer Community</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <button type="button" class="btn btn-default btn-sm remove-event">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4>Event 3</h4>
                        <p>info 3</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <button type="button" class="btn btn-default btn-sm remove-event">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4>Event 4</h4>
                        <p>info 4</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <button type="button" class="btn btn-default btn-sm remove-event">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h5>Event 5</h5>
                        <p>info 5</p>
                    </a>
                </div>


            </div> --}}

        <div class="table-events">
            {{!-- <div class="header">Events</div> --}}

            <table cellspacing="0">
                <tr>
                    <th>Picture</th>
                    <th>Event Name</th>
                    <th>Organization</th>
                    <th>Start Date</th>
                    <th width="230">Description</th>
                </tr>
                {{#each data}}
                    <tr>
                        <td><img src="/src/basketballIcon.png" alt="HTML tutorial"
                        style="width:50px;height:50px;border:0;"> </td>
                        <td>{{name}}</td>
                        <td>{{category}}</td>
                        <td>{{start_date}}</td>
                        <td>
                            {{description}}
                            <div>
                               <form action="/savewishlist/delete" method="post">
                                   <input class='invis' name='eventid' type='text' value={{event_id}}>
                                   <button type='submit' class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');">Delete From Wishlist</button> 
                               </form>
                              
                            </div>
                        </td>
                        
                    </tr>
                {{/each}}


            </table>
        </div>
    </div>

    </div>
</body>

</html>