<!DOCTYPE html>
<html>
    <head>
        
        {{> bootstrap}}
        <link href="/css/menu.css" type="text/css" rel="stylesheet" />
        <link href="/css/vendor.css" type="text/css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    </head>

    <body>

        {{> menu_vendor}}

        <div class="col-md-12">
            <p class="form_text">Welcome {{vendor}}! </p>
            <a href="/addevent" class="btn btn-info add_btn">Add Event</a>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">

                        <thead>
                        <tr>
                            <td>Event ID</td>
                            <td>Event</td>
                            <td class="col-md-2">Event Description</td>
                            <td>Start Date</td>
                            <td>End Date</td>
                            <td>Tags</td>
                            <td>Address</td>
                            <td>Approval status</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{event_id}} </td>
                            <td>{{event_name}}</td>
                            <td>{{description}}</td>
                            <td>{{start_date}}</td>
                            <td>{{end_date}}</td>
                            <td>{{tag_name}}</td>
                            <td>{{address}}</td>
                            <td>{{isApproved}}</td>
                            <td>
                                {{#ifCond isApproved "Pending"}}
                                    <a href="/edit/{{event_id}}" class="btn btn-info">Edit</a>
                                {{else}}
                                    <a href="#" class="btn btn-info disabled">Edit</a>
                                {{/ifCond}}
                                <a class="btn btn-danger" onclick="eventDelete({{event_id}})">Delete</a>
                            </td>
                        </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </body>

</html>
   
<script src="/scripts/admin.js"></script>

